extends layout

block content
  h1= title

  form(id='employeeForm', action="/resource/employees/", method="POST")
    div.form-group
        label.employeeAttr(for='employee_Name') employee name
        input#employeename(type='text', name='employee_Name')
    div.form-group
        label.employeeAttr(for='employee_age') employee age
        input#employeeage(type='text', name='employee_age')
    div.form-group
        label.employeeAttr(for='employee_salary') employee salary
        input#employeesalary(type='number', name='employee_salary')
    input(type="submit")

  script.
    document.forms['employeeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });